<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GDPIControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GDPIControl.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>250, 250, 250</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
        </GDPIControl.Properties.Settings>
    </userSettings>
</configuration>