name: Build Artifact

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_call:
    outputs:
      version: 
        description: "Version builded"
        value: ${{ jobs.build.outputs.version }}
jobs:
  build:
    name: Build
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
      SolutionName: GDPIControl.sln
      Configuration: ${{ matrix.configuration }}
    outputs:
      version: ${{steps.version.outputs.version}}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2
      
    - name: Set VERSION
      id: version
      run: |
        dotnet tool install -g minver-cli --version 2.5.0
        $version = minver -t v -d preview
        $number = $version.Split('-')[0]
        echo "VERSION=$version"
        echo "VERSION=$version" >> $GITHUB_ENV
        echo "::set-output name=version::$version"

    - name: Restore solution
      run: msbuild $env:SolutionName /t:Restore /p:Configuration=$env:Configuration
        
    - name: Build solutin
      run: msbuild $env:SolutionName /t:Build /p:Configuration=$env:Configuration

    - name: Upload a Build Artifact
      if: matrix.configuration == 'Release'
      uses: actions/upload-artifact@v2.3.1
      with:
        name: GDPIControl(5.0)
        path: |
          GDPIControl\bin\Release\net5.0-windows\*.exe
          GDPIControl\bin\Release\net5.0-windows\*.dll
          GDPIControl\bin\Release\net5.0-windows\GDPI\**\*
          GDPIControl\bin\Release\net5.0-windows\GDPIControl.runtimeconfig.json
        if-no-files-found: error

    - name: Upload a Build Artifact
      if: matrix.configuration == 'Release'
      uses: actions/upload-artifact@v2.3.1
      with:
        name: GDPIControl(4.7.2)
        path: |
          GDPIControl\bin\Release\net472\*.exe
          GDPIControl\bin\Release\net472\*.dll
          GDPIControl\bin\Release\net472\GDPI\**\*
        if-no-files-found: error